<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-header></app-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col>
        <img
          src="https://images.unsplash.com/photo-1590947132387-155cc02f3212?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGl6emF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt="">
      </ion-col>

      <ion-col>
        <div>
          <div class="text-x text-yellow-300">Pizza Name : Margherita Pizza</div>
          <div class="text-x text-yellow-300">Pizza Price : 399</div>
          <div>Pizza Description :  This classic Italian pizza is made with a simple yet delicious combination of tomato sauce, mozzarella cheese, and fresh basil leaves. It is a popular choice for those who want to enjoy the authentic flavors of Italy.</div>
          <div class="rounded px-6 py-2 bg-yellow-300 my-3 text-black">Order now</div>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
